#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 40%;
}

.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-box {
  width: 60%;
  max-width: 500px;
}

.search-box input {
  flex: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: rgb(38, 38, 38) solid 1px;
}

.search-box input:focus {
  outline: none;
}

.main-section {
  display: flex;
}

.facet-section {
  width: 25%;
  padding-right: 2rem;
}

.results-section {
  width: 75%;
}

.sort {
  display: flex;
  margin-bottom: 1rem;
}

.sort p {
  margin: 0;
}

.facet ul {
  text-align: left;
}

.result-list {
  text-align: left;
}

.result-list a {
  display: block;
  width: fit-content;
}

.pager {
  display: flex;
  margin-top: 2rem;
}

button {
  border: rgb(38, 38, 38) solid 1px;
}
